<div>
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Terminal Operations</h1>
            <div>
                <p class="lead">
                    TBD
                </p>
                <div>
                    <p>
                        There is not enough time in the day :)
                    </p>
                </div>
            </div>
        </div>
    </main>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/basics">back</a>
        <div class="stream-container">
            <div>
                <stream-source
                        [inputStream]="streamSourceInput"
                        (outputStream)="sourceComplete($event)"></stream-source>
            </div>
        </div>
    </div>
</div>

