<main role="main" class="container">
    <div class="jumbotron">
        <h1>Terminal Operations</h1>
        <div>
            <p class="lead">
                TBD
            </p>
            <div>
                <p>
                    There is not enough time in the day :)
                </p>
            </div>
        </div>
    </div>
</main>
<div>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/basics">back</a>
        <div class="btn btn-lg btn-primary" (click)="startStreamOne()">
            send item
        </div>
        <div class="stream-container">
            <div>
                <stream-source
                        [inputStream]="streamSourceInput"
                        (outputStream)="sourceComplete($event)"></stream-source>
            </div>
            <div>
                <filter-stream (outputStream)="filterOneComplete($event)"
                               [inputStream]="sourceOutput"
                               [filterFunction]="filterOne"
                ></filter-stream>
            </div>
            <div>
                <flatMap-stream (outputStream)="flatMapOneComplete($event)"
                                [inputStream]="filterOutputStream"
                                [mappingFunction]="flatMapOne"
                ></flatMap-stream>
            </div>
            <div>
                <map-stream (outputStream)="mapOneComplete($event)"
                            [inputStream]="flatMapOutputStream"
                            [mappingFunction]="mapOne"
                ></map-stream>
            </div>
        </div>
    </div>
</div>