<div>
    <div>
        <a class="btn btn-sm btn-warning"
           routerLink="/basics">back</a>
        <stream-item [streamItem]="list"></stream-item>
        <div class="stream-container">
            <div>
                <stream-source
                        [inputStream]="streamSourceInput"
                        (outputStream)="sourceComplete($event)"></stream-source>
            </div>
            <div>
                <filter-stream (outputStream)="filterOneComplete($event)"
                               (filteredOutputStream)="filterOneComplete($event)"
                               [inputStream]="sourceOutput"
                               [filterFunction]="filterOne"
                ></filter-stream>
            </div>
        </div>
    </div>
</div>

