<nav>
    <a class="btn btn-lg btn-outline-info"
       routerLink="/basics/source/generate">Generation</a>
    <a class="btn btn-lg btn-outline-info"
       routerLink="/basics/source/list">List</a>
    <a class="btn btn-lg btn-outline-info"
       routerLink="/basics/intermediate/map">Map</a>
    <a class="btn btn-lg btn-outline-info"
       routerLink="/basics/intermediate/filter">Filter</a>
    <a class="btn btn-lg btn-outline-info"
       routerLink="/basics/intermediate/flatmap">Flat Map 101</a>
    <a class="btn btn-lg btn-outline-info"
       routerLink="/basics/intermediate/flatmap2">Flat Map</a>
</nav>
<div class="btn btn-warning" routerLink="/">back</div>