.base-stream-component > div{
  position: absolute;
}

.stream-container {
  display: flex;
}

.stream-container > div {
  outline: aquamarine solid;
  height: 100px;
  flex-grow: 1;
}

.base-stream-component {
  height: 100%;
  border: blue solid;
  flex-grow: 1;
}

.stream-transition {
  height: 100%;
  flex-grow: 1;
  border: rebeccapurple solid;
}

.multi-item-stream {
  border: orange solid;
  display: flex;
}

.multi-item-stream > div {
  flex-grow: 1;
}