.base-stream-component > div{
  position: absolute;
}

.stream-container {
  display: flex;
}

.stream-container div {
  flex-grow: 1;
}

.multi-item-stream {
  border: orange solid;
  display: flex;
}

.multi-item-stream > div {
  flex-grow: 1;
}